/* 전체 문서에 기본 폰트, 배경색 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: aquamarine;
    color: black;
    margin: 0;      /* 여백 */
    padding: 0;
    text-align: center;
}

/* 헤더 */
header {
    background-color: orange;
    color: white;
    padding: 10px;
}

/* 메인 */
#main-title {
    margin: 0;
}
.content {
    padding: 20px;
}
/* 이미지 조절 */
#sample-image {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}

/* form */
#sample-form {
    display: inline-block;      /* contents가 중앙에 위치하도록 */
    text-align: left;
}

/* 입력 필드 */
.input-field {
    display: block;     /*입력필드가 새 줄에 위치 */
    width: 120%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* 버튼 */
#submit-button {
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* 버튼에 마우스 액션 추가 */
#submit-button:hover {
    background-color: crimson;    
}

/* footer */
footer {
    background-color: darkgreen;
    color: whitesmoke;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}